Repository kasraJannati/mpm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Notes added by 'git notes add'
  5432aff7afeafa0c1ab3d5ff420f56ccfb9969fc
Due: none

chore: add comment
  .github/workflows/npm-publish.yml
Due: none

fix: remove comment
  .github/workflows/npm-publish.yml
Due: none

Notes added by 'git notes add'
  23661fe972c17d6b022e0c181de7e7ac024de0f0
Due: none

chore(release): rem coment
  .github/workflows/npm-publish.yml
Due: none

chore: Version 2.0.0
  .github/workflows/npm-publish.yml
Due: none

chore(release): Version 2.1.0
  .github/workflows/npm-publish.yml
Due: none

chore: Version 2.0.0
  release.config.cjs
Due: none

feat: remove comment
  .github/workflows/npm-publish.yml
Due: none

Notes added by 'git notes add'
  f63022336016cea309a8a111d785c11f468237bb
Due: none

feat: remove comment
  release.config.cjs
Due: none

Notes added by 'git notes add'
  8c042d97ee427b0b959919420926d8a903e31d30
Due: none

chore(release): Version 2.1.0
  package.json
  release.config.cjs
Due: prettier --write

Notes added by 'git notes add'
  ca4a6ab88e306d5ea4af0b34ea18a03b736a675e
Due: none

fix: install npm package
  package-lock.json
  package.json
  release.config.cjs
Due: prettier --write

fix: add npm token
  .github/workflows/npm-publish.yml
Due: none

fix: fixed issue
  .github/workflows/npm-publish.yml
Due: none

Notes added by 'git notes add'
  d36a3844aa2a87cb30b604101a1b0fe9436a60e7
Due: none

fix: update package.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  33924d066585804cdf809e9d153ce917aafaeaa0
Due: none

chore(release): Version 1.3.5 complete
  package.json
  release.config.cjs
Due: prettier --write

feat: add npm
  .github/workflows/npm-publish.yml
  release.config.cjs
Due: none

chore(release): 1.4.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  677364ee0075c85fc05786d27fbf88af09ecd732
Due: none

fix: add component
  package.json
  src/main.ts
  src/newComponent.tsx
Due: eslint --fix, prettier --write

chore(release): 1.4.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a5ff57dc2165e5cfa0b2428f6930f03f33964000
Due: none

fix: update workflows
  .github/workflows/npm-publish.yml
  release.config.cjs
  src/main.ts
Due: eslint --fix, prettier --write

fix: update workflows
  .github/workflows/npm-publish.yml
Due: none

chore(release): 1.4.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0a213ba1c1c6072ba02ea74ae558e1f4f7745d54
Due: none

fix: update pacakge
  .github/workflows/npm-publish.yml
Due: none

fix: update p
  .github/workflows/npm-publish.yml
Due: none

chore(release): 1.4.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d70b5d076f661fd73eabc706fc155ed39766fb79
Due: none

fix: add pr checker
  .github/workflows/pr-checks.yaml
  sample-checks/code-coverage.yaml
Due: none

fix: add main
  src/main.ts
Due: eslint --fix, prettier --write

fix: pr checks comment
  .github/workflows/pr-checks.yaml
Due: none

fix: check [pr
  .github/workflows/pr-checks.yaml
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --write: (any of: src/**/*.ts) or (any of: package.json)
