Repository kasraJannati/mpm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: buf
  src/main.ts
Due: eslint --fix, prettier --write

chore(release): 1.1.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0a73c19c3ca8f1afd561ca1a6ecb99e00e3e71e0
Due: none

fix: add component
  src/newComponent.tsx
Due: none

fix: update com
  src/main.ts
Due: eslint --fix, prettier --write

chore(release): 1.1.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  55628ea1a9dd53b9838da9033b0f5b5d5aa83d4c
Due: none

fix: remove component
  src/main.ts
Due: eslint --fix, prettier --write

feat: remove com
  src/newComponent.tsx
Due: none

fix: un
  src/sum.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.2.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  45eb0acf209e328465f6ea51ca5726867c380938
Due: none

fix: 12
  src/sum.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.2.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  74612abd105ccff7cfe5cb7dd15764cb49e5bd2b
Due: none

fix: update test
  .github/workflows/npm-publish.yml
Due: none

fix: fix te
  src/sum.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.2.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  179c23379821d628fdd6f12d04bfd65cea7ab814
Due: none

fix: update
  .github/workflows/npm-publish.yml
Due: none

fix: ua
  .github/workflows/npm-publish.yml
Due: none

fix: finalll
  .github/workflows/npm-publish.yml
Due: none

fix: fin1
  .github/workflows/npm-publish.yml
Due: none

fix: aq
  .github/workflows/npm-publish.yml
Due: none

fix: add 2
  .github/workflows/npm-publish.yml
Due: none

fix:1
  .github/workflows/npm-publish.yml
Due: none

fix: u1
  .github/workflows/npm-publish.yml
Due: none

fix: updateee
  .github/workflows/npm-publish.yml
Due: none

fix:222
  .github/workflows/npm-publish.yml
Due: none

fix: update r
  .github/workflows/npm-publish.yml
Due: none

fx: upd
  .github/workflows/npm-publish.yml
Due: none

fix: F1
  .github/workflows/npm-publish.yml
Due: none

fix: add test
  .github/workflows/npm-publish.yml
Due: none

fix: add
  .github/workflows/npm-publish.yml
Due: none

fix: ad
  .github/workflows/npm-publish.yml
Due: none

fix: a
  .github/workflows/npm-publish.yml
Due: none

fix: a 1
  .github/workflows/npm-publish.yml
Due: none

chore(release): 1.2.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b26fad59a1ef0784bed3faefd09956d7d788122a
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --write: (any of: src/**/*.ts) or (any of: package.json)
