Repository kasraJannati/mpm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: add code test
  .github/workflows/pr-checks.yaml
  sample-checks/code-coverage.yaml
Due: none

fix: typo issue
  .github/workflows/pr-checks.yaml
Due: none

fix: add test
  .github/workflows/pr-checks.yaml
Due: none

feat: add testgin
  .github/workflows/pr-checks.yaml
  package-lock.json
  package.json
Due: prettier --write

feat: add unit testing
  src/sum.test.ts
  src/sum.ts
Due: eslint --fix, prettier --write

feat: xml file
  reports/jest-test.xml
Due: none

fix: update
  .github/workflows/pr-checks.yaml
Due: none

fi: updated
  .github/workflows/pr-checks.yaml
Due: none

fix: u
  .github/workflows/pr-checks.yaml
Due: none

fix: delete
  reports/jest-test.xml
Due: none

fix: wrong
  src/sum.test.ts
Due: eslint --fix, prettier --write

fix: f1
  .github/workflows/pr-checks.yaml
  sample-checks/code-coverages.yaml
  src/sum.test.ts
Due: eslint --fix, prettier --write

fix: add t
  .github/workflows/pr-checks.yaml
Due: none

fix: f2
  .github/workflows/pr-checks.yaml
Due: none

fix: add f3
  .github/workflows/pr-checks.yaml
Due: none

fix: f4
  .github/workflows/pr-checks.yaml
Due: none

fix: add unit test
  .github/workflows/pr-checks.yaml
  reports/jest-test.xml
  sample-checks/code-coverages.yaml
  vitest.config.js
Due: none

fix: add
  .github/workflows/pr-checks.yaml
  reports/jest-test.xml
  src/sum.test.ts
Due: eslint --fix, prettier --write

fix: tes final
  .github/workflows/pr-checks.yaml
Due: none

fix: t
  src/sum.test.ts
Due: eslint --fix, prettier --write

fix: add
  .github/workflows/pr-checks.yaml
Due: none

fix: check u
  src/sum.test.ts
Due: eslint --fix, prettier --write

fix: a
  .github/workflows/pr-checks.yaml
Due: none

chore(release): 1.5.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5f28f45521663df8085da92400a46d9f09f17f67
Due: none

chore: publish package
  package.json
Due: prettier --write

feat: add package
  src/sum.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.6.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8e4c268eff276035517e85c19813c836c0911468
Due: none

feat: add pakcage
  package.json
Due: prettier --write

chore(release): 1.7.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  da9cfd97884865c9abb28863974d3fb054d3ac21
Due: none

feat: done
  package.json
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  package-lock.json
Due: none

Notes added by 'git notes add'
  891d3fda847cdfa6e609b3ac22baac6f52e24dc7
Due: none

feat: add
  package.json
Due: prettier --write

fix:qe
  src/sum.test.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  7a525c5f175b1abcc389b035a1ed9979868fe296
Due: none

fix: remove
  src/newComponent.tsx
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --write: (any of: src/**/*.ts) or (any of: package.json)
